.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dropdown-menu .dropdown-item.active {
  color: white;
  font-weight: bold;
}
.card {
  background-color: #32325d;
  color: white;
}

.card a {
  color: #17a2b8;
}

.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  color: white;
}

h1 {
  text-transform: capitalize;
  margin: 30px;
}

#inputGenre.form-control {
  width: 100%;
  background-color: #f6f9fc;
  color: #212529;
}

#inputGenre.form-control:hover {
  border-color: #17a2b8;
  border-width: 2px;
}
option {
  color: #212529;
}

.input-range {
  width: 90% !important;
  margin: 2rem auto 4rem auto;
}

.input-range__label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__track {
  background: #0a4a53;
  height: 0.1rem;
}

.input-range__track--active {
  background-color: #17a2b8;
}
.input-range__slider {
}

.filter {
  color: #e9ecef;
  text-align: left;
  padding-left: 3rem;
}

.col {
  margin: 0;
  padding: 0;
}
